<div>
  <form class="form-horizontal" action='' method="POST">
    <fieldset>
      <div id="legend">
        <legend class="">Timmy Rakin</legend>
      </div>
      <div>
        <label class="control-label">Display Name</label>
        <div>
          <input type="text" name="username" >
          <p class="help-block">Please enter your preferred display name</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Major</label>
        <div class="controls">
          <input type="text" name="username" class="input-xlarge" ng-model="major">
          <p class="help-block">Please provide your major</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Current Courses</label>
        <div class="controls">
          <textarea class="form-control" rows="3" ng-model="currentCourses"></textarea>
          <p class="help-block"> Please provide the courses you are currently taking</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">About Me</label>
        <div class="controls">
          <textarea class="form-control" rows="3" ng-model="aboutMe"></textarea>
          <p class="help-block">Feel free to provide additional information about yourself (e.g. hobbies, favorite food cart, relationship status...)</p>
        </div>
      </div>


      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" ui-sref="landing">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>



</div>
