<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<div>

  <div class="col-xs-12 col-sm-8">
    <h2>{{user.name}}</h2>


    <div style="text-align: center;">
      <img style="width: 50%; height: 50%" ng-src="http://cdn.patch.com/assets/layout/contribute/user-default.png">
      <h4>{{user.username}}</h4>
    </div>
    <br/>
    <br/>
    <p><strong>Major: </strong> <br/>
      {{user.major}} </p>
    <br/>
    <p><strong>Current Courses: </strong>
    <div class="label label-default"style="display:inline-block; margin:0 1em;" ng-repeat="course in user.course_history"> {{ course }} </div>
    </p>
    <br/> <br/>
    <p><strong>About Me: </strong> <br/>
        {{user.aboutMe}}
    </p>
  </div>

  <div class="col-xs-12 col-sm-4 text-center">
    <figure>
      <figcaption class="ratings">
        <p>Ratings
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a >
            <span class="fa fa-star-o"></span>
          </a>
        </p>
      </figcaption>
    </figure>

  </div>
  <div style="text-align: right;">
  <button class="btn btn-default profileSideButton">
  <span class ="glyphicon glyphicon-envelope"> </span>
    Message {{user.name}}
  </button> <br/><br/>
  <button class="btn btn-default profileSideButton">
    <span class ="glyphicon glyphicon-book "> </span>
    View Books for Sale
  </button> <br/> <br/>
  <button class="btn btn-default profileSideButton">
    <span class ="glyphicon glyphicon-book "> </span>
    View Wish-list
    </button>
    </div>
</div>


