<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<div>

  <div class="col-xs-12 col-sm-7">
    <h2>{{user.name}}</h2>


    <div style="text-align: center;">
      <img style="width: 50%; height: 50%" ng-src="http://cdn.patch.com/assets/layout/contribute/user-default.png">
      <h4>{{user.username}}</h4>
    </div>
    <br/>
    <br/>
    <p><strong>Major: </strong> <br/>
      {{user.major}} </p>
    <br/>
    <p><strong>Current Courses: </strong>
    <div class="label label-default" style="font-size: 1em; display:inline-block; margin:0 1em; padding: .4em .6em .5em;" ng-repeat="course in user.course_history"> {{ course }} </div>
    </p>
    <br/> <br/>
    <p><strong>About Me: </strong> <br/>
        {{user.aboutMe}}
    </p>
  </div>

  <div class="col-xs-12 col-sm-5 text-center">
    <figure>
      <figcaption class="ratings">
        <p>Ratings
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a>
            <span class="fa fa-star"></span>
          </a>
          <a >
            <span class="fa fa-star-o"></span>
          </a>
        </p>
      </figcaption>
    </figure>
    <div ui-view style="text-align: left;">
      <div>
        <a href="mailto:{{ user.username }}@pdx.edu?subject=BookBook" class="btn btn-default profileSideButton">
          <span style="color: #48a400;" class ="glyphicon glyphicon-send profileIcon"></span>
          Message {{user.name}}
        </a> <br/><br/>
        <button class="btn btn-default profileSideButton" ui-sref=".sellView" id="sellView" ng-click="expand()">
          <span style="color: #000079;" class ="glyphicon glyphicon-book profileIcon"></span>
          View Books for Sale
        </button> <br/><br/>
        <button class="btn btn-default profileSideButton" ui-sref=".wishView">
          <span style="color: #6f0000;"class ="glyphicon glyphicon-book profileIcon"></span>
          View Wish-list
        </button>
      </div>

    </div>
  </div>
</div>


