<div class="jumbotron">
  <span style="font-size: 58px;" class="glyphicon glyphicon-book"></span><br/>
  <h1 style="margin-top: 1rem;">BookBook</h1>
  <p class="lead">
    <!--img src="images/mascot.png" alt="I'm Yeoman"><br-->
    Let's screw the bookstores together!
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="login()" ui-sref="odinLoginPage">Join Now!</a></p>
</div>

<div class="row marketing">
  <h4>Rid yourself of used books</h4>
  <p>
    BookBook is the perfect for book sharing between students!
  </p>

  <h4>It's free</h4>
  <p>
    You can begin sharing books at no cost to you!
  </p>
</div>
