<div class="book">
    <div class="book-info" ng-hide="creating || editing">
        <h1 class="title">{{ book.title }}</h1>
        <span class="isbn">{{ book.isbn }}</span>
        <span class="author">{{ book.author }}</span>
        <span class="price">{{ book.price }}</span>
    </div>
    <div class="col-md-7" ng-show="creating || editing">
    <form ng-submit="submit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="To Kill a Mockingbird" ng-model="book.title">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn" placeholder="9783161484100" ng-model="book.isbn">
        </div>
        <div class="form-group">
            <label for="author">Author(s)</label>
            <input type="text" class="form-control" id="author" placeholder="Ayn Rand" ng-model="book.author">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" id="price" placeholder="0.00" ng-model="book.price">
            </div>
        </div>
        <div class="form-group" ng-show="editing">
          <div class="input-group">
            <label for="sold"><input type="checkbox" id="sold" ng-model="book.sold"> is sold</label>
          </div>
        </div>
        <!--div class="form-group">
            <label for="condition">Condition</label>

        </div-->

        <button type="submit" class="btn btn-primary pull-right">
          {{creating ? 'Sell' : 'Save'}}
        </button>
    </form>
    </div>
</div>
